<launch>
	<arg name="training_model" default="DSRNN"/>
	<arg name="ns" default="test_1"/>
    <!-- Launch neural net ros wrapper -->
    <node pkg="crowdnav-ros" type="crowd_node_tb3.py" name="crowd_node" output="screen" ns="/crowd"  if="$(eval arg('training_model') in ['CADRL','LSTM','SARL','RGL'])">
        
        <remap from="/clock" to ="/$(arg ns)/clock"/>
    </node>
    <node pkg="crowdnav-ros" type="ds_rnn_node_tb3.py" name="crowd_node" output="screen" ns="/crowd"  if="$(eval arg('training_model') in ['DSRNN'])">
        
        <remap from="/clock" to ="/$(arg ns)/clock"/>
    </node>
</launch>
